<app-navbar></app-navbar>
<div class="container">
  <a href="/signup/signupacademic">
    <div class="jumbotron">
      <img src="../../../../assets/img/lecturer.png" alt="">
      <h3>SignUp as Academic staff Memeber</h3>
    </div>
  </a>

  <a href="/signup/signupalumni">
    <div class="jumbotron">
      <img src="../../../../assets/img/alumni.png" alt="">
      <h3>SignUp as Alumni</h3>
    </div>
  </a>

  <a href="/signup/signupstudent">
    <div class="jumbotron">
      <img src="../../../../assets/img/student.png" alt="">
      <h3>SignUp as a Student</h3>
    </div>
  </a>

</div>
<app-footer></app-footer>
