
/* Everything but the jumbotron gets side spacing for mobile first views */

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.text-block {
  position: absolute;
  background-color: transparent;
  color: white;
  text-align: center;
  /*top: 10%;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 2.5em;
  text-shadow: darkred;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    background-color: grey;
    color: black;
  }
}
a.active{
  color: red;
}

@media (min-width: 1000px) {
  .img-header{
    height: auto;
    width: auto;
    position: relative;
    text-align: center;
    color: white;

  }

}

/* resize image */
.img-header img {
  width: 100%;
  height: auto;
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 2.5em;
  text-shadow: darkred;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.panel-group{
  padding-top: 10px;
}

.panel-heading{
  background-color: grey;
  font-family:  "Open Sans";
  font-style: oblique;
  font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .text-block{
    font-size: xx-small;
  }
  .forum{
    display: none;
  }
  .dept-name{
    display: none;
  }
  .uni{
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .text-block{
    font-size: xx-small;
  }
  .forum{
    display: none;
  }
  .dept-name{
    display: block;
  }
  .uni{
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .text-block{
    font-size: x-small;
  }
  .forum{
    display: none;
  }
  .dept-name{
    display: block;
  }
  .uni{
    display: block;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .text-block{
    display: block;
  }
  .forum{
    display: block;
  }
  .dept-name{
    display: block;
  }
  .uni{
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .text-block{
    display: block;
  }
  .forum{
    display: block;
  }
  .dept-name{
    display: block;
  }.uni{
     display: block;
     }
}
