<div class="outercontainer">
    <div *ngFor="let q of questions" class="container">
        
        <div class="[ panel panel-default ] panel-google-plus" (click)="directTo('question', q._id)">
            <div class="dropdown">
                <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                </span>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Visit</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Hide</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Something else here</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="panel-google-plus-tags">
                <ul>
                    <li>#{{q.tag}}</li>
                    <li>#tag2</li>
                </ul>
            </div>
            <div class="panel-heading">
                <img class="[ img pull-left ]" src="../../../../assets/img/question1.png" alt="Mouse0270" />
                <h3>Posted by {{userPosted(q.anonymous,q.user_posted)}}</h3>
                <h5>
                    <span>Posted on </span> -
                    <span>{{q.date_posted| date}}</span>
                </h5>
            </div>
            <div class="panel-body">
                <p>{{q.question_content}}</p>
            </div>
            <div class="panel-footer">
                <ul class="list-inline list-unstyled">
                    <li>
                        <span>
                            <i class="glyphicon glyphicon-calendar"></i>{{ caltimePeriod(q.date_posted)}}</span>
                    </li>
                    <li>|</li>
                    <span>
                        <i class="glyphicon glyphicon-pencil"></i> 0 answers</span>
                    <li>|</li>
                </ul>
            </div>

        </div>

    </div>
</div>