<div class="footer-section">
  <div class="footer">
    <div class="container">
      <div class="col-md-4 footer-one">
        <div class="foot-logo">
          <img src="../../../../assets/img/logo.png">
        </div>

        <p>Provide you quick and more reliable solutions in friendly environment.
        </p>

      </div>
      <div class="col-md-2 footer-two">
        <h5>Quick Links</h5>
        <ul>
          <li>
            <a href="#"> Moodle</a>
          </li>
          <li>
            <a href="#"> Learn Org</a>
          </li>
          <li>
            <a href="#"> CSE- Official</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-four">
        <img src="../../../../assets/img/anyquestion.png">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 ">
        <div class="copyright-text">
          <p>CopyRight © 2018 Innovine All Rights Reserved</p>
        </div>
      </div>
      <!-- End Col -->
      <div class="col-sm-6  ">
        <div class="copyright-text pull-right">
          <p>
            <a href="#">Home</a> |
            <a href="#">Privacy</a> |
          </p>
        </div>

      </div>
      <!-- End Col -->
    </div>
  </div>
</div>