<div class="container">
  <div class="header">
    <img src="../../assets/img/logo.png" alt="">

    <ul class="nav nav-pills pull-right">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">Home</a></li>
      <li><a routerLink="/signup" routerLinkActive="active">Sign up</a></li>
      <li><a routerLink="/signin" routerLinkActive="active">Sign In</a></li>
    </ul>
   
  </div>

<h2 class="page-header">Sign In to Your Account</h2>

<form [formGroup]="signinForm" method="post" action="" (ngSubmit)="signin(signinForm.value)">

  <div class="form-group" >
    <label for="email"> Email </label>
    <input type="text" class="form-control" placeholder="Enter Username" id="email" name="email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="password"> Password </label>
    <input type="password" class="form-control" placeholder="Enter Password" id="password" name="password" formControlName="password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<span> {{message}}</span>

<div class="footer">
  <p>&copy; CSE</p>
</div>

</div> <!-- /container -->
