<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <section>
        <h1 class="entry-title">
          <span>Sign In </span>
        </h1>
        <hr>
        <form [formGroup]="signinForm" method="post" action="" (ngSubmit)="signin(signinForm.value)">

          <div class="form-group">
            <label for="email"> Email </label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-envelope"></i>
              </span>
              <input type="text" class="form-control" placeholder="Enter Username" id="email" name="email" formControlName="email">
            </div>
          </div>

          <div class="form-group">
            <label for="password"> Password </label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
              <input type="password" class="form-control" placeholder="Enter Password" id="password" name="password" formControlName="password">
            </div>
          </div>


          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

          <span> {{message}}</span>
        </form>
      </section>
    </div>
  </div>
</div>

<app-footer></app-footer>