.body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  .body {
    padding-top: 56px;
  }
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size {
  font-size: 87px;
}

.navbar {
  background-color: #ddbdbd;
}

.navbar-addquestion{
  padding-top: 5px;

}

.navbar-addquestion a{
    background-color: #6c98a4;
    padding: 10px 5px 10px 5px;
}

.navbar-header img{
    vertical-align: middle;
    height: 100%;
    padding: 15px;
    width: auto;
}

.container2{
  margin-top: 100px;
}


.containter-fluid scrollable{
  padding-top:100px;
  height: 100%;
  overflow: auto;
}