
.navbar-user {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
  
}

.navbar a {
  color: white;
}

.nav.navbar-nav.navbar-right li a {
  color:black;
}

.navbar-user-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.nav-notifications{
  width: 500px;
  padding: 10px;
  padding-bottom: 0px;
}

.icon-size {
  font-size: 87px;
}

.navbar-custom {
  background-color: #3e404c;
  padding-bottom: 0px;
}

.navbar-addquestion{
  padding-top: 5px;
  margin-left: 70%

}

.navbar-addquestion a{
    background-color: #6c98a4;
    padding: 10px 5px 10px 5px;
}

.navbar-header img{
    vertical-align: middle;
    height: 100%;
    padding: 15px;
    width: auto;
}

.container2{
  margin-top: 100px;
}

.navbar-header .navbar-brand{
  color: white;
}

.dropdown #username{
  color:lightgoldenrodyellow;
}

.nav .navbar-nav #home a, .nav .navbar-nav #history a{
  color: wheat;
}
.navbar-custom .navbar-nav  li {
  padding: 0px 2px 0px 2px;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    background-color:#09092a;
}

.navbar-custom .navbar-toggle {
  border-color:#09092a;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color:#09092a;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-custom  .navbar-nav .open .dropdown-menu>li>a, .navbar-custom  .navbar-nav .open .dropdown-menu {
  background-color:  #FFF;
  color:black;
}

.badge{
  position: absolute;
  top:5px;
  left:22px;
  background-color: tomato;
}

.dropdown-menu{
  background-color: white;
}