<div class="body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="title">
        <h3>Change Password</h3>
      </div>

      <form class="form-horizontal" role="form" [formGroup]="checkpasswordForm" method="post" action="" (ngSubmit)="editDetails(checkpasswordForm.value)">

        <div class="form-group">
          <div class="left-label">
            <label for="firstname">Enter your password </label>
          </div>
          <div class="right-input">
            <input type="password" class="form-control" id="password" name="password" formControlName="password">
          </div>
        </div>

        <button type="submit" class="btn btn-primary" > Save </button>

      </form>
    </div>
  </div>
</div>