<div *ngFor = "let ans of answers">
   <div class="container">
      <app-answer [answer]="ans" [ansId]="ans._id"></app-answer>
   </div>
</div>
<form [formGroup]="addanswerForm" method="post" action="" (ngSubmit)="postAnswer(addanswerForm.value)">
  <ul>
    <li>
      <textarea name="newanswer" id="newanswer" cols="100" rows="10" placeholder="Enter your answer." formControlName="newanswer"></textarea>
    </li>
    <li>
      <button type="submit" class="btn btn-success">Add Answer</button>
    </li>
  </ul>
</form>