.body {
  padding-top: 54px;
 /* background-image: url("C:/Users/user/WebstormProjects/newproject/QAForum/src/assets/img/pattern1.png");*/

}

.post-list{
  padding-top: 30px;
  padding-left: 20px;
  margin-left: 30px;
}
.search{
  padding-top: 20px;
  float: right;
}
.containter-fluid scrollable{
  margin: 0 auto;
}





@media (min-width: 992px) {
  .body {
    padding-top: 56px;
   /* background-image: url("C:/Users/user/WebstormProjects/newproject/QAForum/src/assets/img/pattern1.png");*/


  }

}

@media screen and (min-width: 480px) {
  .row1,row2{
   float: unset;
   /* background-image: url("C:/Users/user/WebstormProjects/newproject/QAForum/src/assets/img/pattern1.png");*/
  }
  .post-list{
    padding-top: 10px;
  }
}
