<fieldset class="rating">
    <input type="radio" [name]="inputsName" value="5" [checked]="rating===5" />
    <label title="Five Stars" (click)='onClick(5)'>5 stars</label>

    <input type="radio" [name]="inputsName" value="4" [checked]="rating===4" />
    <label title="Four Stars" (click)='onClick(4)'>4 stars</label>

    <input type="radio" [name]="inputsName" value="3" [checked]="rating===3" />
    <label title="Three Stars" (click)='onClick(3)'>3 stars</label>

    <input type="radio" [name]="inputsName" value="2" [checked]="rating===2" />
    <label title="Two Stars" (click)='onClick(2)'>2 stars</label>

    <input type="radio" [name]="inputsName" value="1" [checked]="rating===1" />
    <label title="One Star" (click)='onClick(1)'>1 star</label>
</fieldset>