
.body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    .body {
      padding-top: 56px;
    }
  }

.content{
    align-items: center;
}
.topbar{
  margin-top: 0;
}

.jumbotron {
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
  }



 /* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {

  .jumbotron {
    border-bottom: 0;
    border-radius: 0;
  }
}
