<div class="body">
    <app-profile></app-profile>
    <div class="container-left">
        <div class="search">
            <app-search></app-search>
        </div>
        <div class="containter-fluid scrollable">
            <div class="inner-container">
                <div class="post-list">
                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>
    <div class="container-right">
        <div class="tab">xcfvghbjnnnkknknknknkn
        </div>
    </div>
</div>