<!-- Button to open the add question form -->
<button class="btn btn-primary btn-info" onclick="document.getElementById('addq1').style.display='block'" ><span class="glyphicon glyphicon-plus"></span>Add Question</button>

<!-- The Modal -->
<div id="addq1" class="modal">

  <!-- Modal Content -->
  <form class="modal-content animate" [formGroup]="addquestionForm" method="post" action="" (ngSubmit)="addQuestion(addquestionForm.value)" >
    <div class="container">
     <span onclick="document.getElementById('addq1').style.display='none'" class="close" title="Close form" >&times;</span>
     <div class='containter2'>
        <label for="question_content"><b>Question</b></label>
        <span class="alert" *ngIf="!addquestionForm.controls['question_content'].valid && addquestionForm.controls['question_content'].touched">{{ titleAlert }}</span>
        <textarea name="question_content" id="question_content" cols="30" rows="10"  placeholder="Type your Question" class='form-control' formControlName="question_content" required></textarea>

      <label for="tags"><b>Tags</b></label>
      <input type="text"  class='form-control' placeholder="Tag the key areas" name="tags" formControlName="tags" id="tags" required>

      <label for="type"><b>Type</b></label>
      <span class="alert" *ngIf="!addquestionForm.controls['type'].valid && addquestionForm.controls['type'].touched">{{ titleAlert }}</span>
      <br>
      <select name="type" placeholder="Select the question type" formControlName="type" id="type">
          <option value="Academic Subject">Academic subject </option>
          <option value="Event Organization">Event Organization</option>
          <option value="Industry and Internship">Industry and internship</option>
          <option value="Postgraduate Studies">Postgraduate Studies</option>
          <option value="Researches">Researches</option>
          <option value="Other" selected>Other</option>
      </select>
      <br>
      <span class="post_as">Post the question as an anonymous user  <input id="checkuser" type="checkbox" formControlName="checkuser"></span>
     </div>
     <div class="container3">
       <ul>
         <li><button type="button" onclick="document.getElementById('addq1').style.display='none'" class="btn btn-warning">Cancel</button></li>
         <li><button type="submit" class="btn btn-success" >Post</button></li>
       </ul>
     </div>

    </div>
  </form>
</div>


